@media (min-width: 992px) {
  h1 {
    color: var(--bs-body-bg);
    font-family: Quicksand, sans-serif;
    font-size: 70px;
    padding-top: 285px;
    padding-right: 35px;
  }
}

@media (min-width: 300px) {
  h1 {
    padding-top: 197px;
    padding-right: 0px;
    margin-bottom: 0px;
    padding-left: 292px;
    color: var(--bs-body-bg);
    font-family: Quicksand, sans-serif;
  }
}

@media (min-width: 1200px) {
  body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }
}

@media (min-width: 768px) {
  body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }
}

